.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.question-wrapper.question--show .question__content {
  display: block;
}

.question {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: var(--color-secondary);
  margin: 1rem;
  width: 90%;
  border-radius: 1rem;
}

.question__header {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.question__title {
  font-size: 1.5rem;
  color: var(--color-white);
}

.question__btn-manage {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.question__content {
  display: none;
  width: 80%;
  align-self: center;
}

.question__description {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1.5rem;
  color: var(--color-white);
}
